.section1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    & > div{
        width: 50%;
        &:first-child{
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                aspect-ratio: 1/1;
            }
        }
        &:last-child{
            padding: 100px 5%;
            background-color: var(--color_morado);
            color: var(--color_amarillomex);
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: 700;
            & p{
                &:first-child{
                    font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1920 - 300)));
                    line-height: calc(39px + (49 - 39) * ((100vw - 300px) / (1920 - 300)));
                }
                &:last-child{
                    margin: 30px 0 0;
                    font-size: 20px;
                }
            }
        }
    }
}

.section2{
    padding: 150px 0 0;
    color: var(--color_amarillomex);
    .tortillachips{
        text-align: center;
        & .subtitulo{
            margin: 10px 0 30px;
        }
    }
    & .patatas{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 50px 0 0;
        padding: 0 5%;
        & > .colPatatas{
            width: 33.33%;
            padding: 0 1%;
            order: 2;
            &:first-child{
                order: 1;
            }
            &:last-child{
                order: 3;
            }
        }
    }
    & .titulo{
        font-size: calc(40px + (100 - 40) * ((100vw - 300px) / (1920 - 300)));
        line-height: calc(40px + (100 - 40) * ((100vw - 300px) / (1920 - 300)));
        font-weight: 700;
    }
    & .subtitulo{
        font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1920 - 300)));
        line-height: calc(30px + (50 - 30) * ((100vw - 300px) / (1920 - 300)));
        font-weight: 700;
        margin: 30px 0;
    }
    & .texto{
        font-size: 23px;
    }
    & img{
        max-width: 100%;
        height: auto;
    }
    & .listaproductos1{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 30px 0;
        & > div{
            width: 50%;
            padding: 0 5%;
        }
        & img{
            max-width: 100%; height: auto;
        }
    }
    & .listaproductos2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        padding: 30px 0;
        & > div{
            width: 50%;
            padding: 0 5%;
        }
        & img{
            max-width: 100%; height: auto;
        }
    }
}

.glifoCocodrilo{
    padding: 30px 0;
    text-align: right;
    & svg{
        transform: translate(5px, 0px) scaleX(-1);
        width: 200px;
        height: auto;
        & path{
            fill: var(--color_amarillomex);
        }
    }
}

.glifoLagarto{
    padding: 30px 0;
    text-align: left;
    & svg{
        transform: translate(-40%, 0px);
        width: 200px;
        height: auto;
        & path{
            fill: var(--color_amarillomex);
        }
    }
}

@media only screen and (max-width: 1024px) {
    .section1{
        & > div{
            width: 100%;
            &:first-child{
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    aspect-ratio: 16/9;
                }
            }
            &:last-child{
                padding: 50px 5%;
            }
        }
    }

    .section2{
        padding: 100px 0 0;
        & .patatas{
            & > .colPatatas{
                width: 100%;
                order: 3;
                text-align: center;
                & img{
                    max-width: 50%;
                }
                &:first-child{
                    order: 1;
                    width: 50%;
                    padding: 0 5%;
                    text-align: left;
                    margin: 0 0 50px;
                }
                &:last-child{
                    width: 50%;
                    order: 2;
                    padding: 0 5%;
                    text-align: left;
                    margin: 0 0 50px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .section2{
        & .patatas{
            & > .colPatatas{
                & img{
                    max-width: 60%;
                }
                &:first-child{
                    width: 100%;
                    padding: 0;
                    margin: 0 0 50px;
                }
                &:last-child{
                    width: 100%;
                    padding: 0;
                }
            }
        }
        & .listaproductos1{
            flex-direction: column;
            width: 100%;
            padding: 30px 0;
            & > div{
                width: 100%;
                padding: 0 5%;
                &:last-child{
                    text-align: center;
                    margin: 30px 0 0;
                    & img{
                        max-width: 50%; height: auto;
                    }
                }
            }
        }
        & .listaproductos2{
            flex-direction: column;
            width: 100%;
            padding: 30px 0;
            & > div{
                width: 100%;
                padding: 0 5%;
                &:last-child{
                    text-align: center;
                    margin: 30px 0 0;
                    & img{
                        max-width: 50%; height: auto;
                    }
                }
            }
            
        }
    }

    .glifoCocodrilo{
        & svg{
            width: 100px;
        }
    }
    
    .glifoLagarto{
        & svg{
            width: 100px;
        }
    }
}