.bienvenida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 10%;
  height: 100vh;
  font-size: 3.5vw;
  font-weight: 700;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.estiloBody {
  font-family: "Open sans", sans-serif;
  width: 100%;
  /*height: 100vh;*/
  padding: 50px 0;
}

.content {
  padding: 0 0 0 150px;
  width: 100%;
  /*height: 100%;*/
  display: block;
}

.contentHeader {
  padding: 20px 2.5rem;
}

.contentHeader h1 {
  font-size: 30px;
  font-weight: 700;
}

.contentBody {
  margin: 20px 2.5rem;
  background-color: var(--white);
  border-radius: 5px;
  padding: 20px 2rem;
}

.contentBody label {
  font-weight: 700;
}

.contentBody table {
  width: 100%;
}

.contentBody table thead tr th {
  padding: 5px;
  margin: 0;
  border: 1px solid var(--gray-light);
}

.contentBody table tbody tr td {
  padding: 5px;
  margin: 0;
  border: 1px solid var(--gray-light);
}

.contentBody table tbody tr td img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.contentBody input[type=text], .contentBody select, .contentBody textarea {
  background-color: var(--white);
  border: 2px solid var(--gray-light);
  padding: 10px;
  border-radius: 5px;
  font-family: "Open sans", sans-serif;
  font-size: 15px;
}

.contentBody textarea {
  height: 200px;
}

.contentBody .agrupacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.contentBody .agrupacion .grupoCampo {
  margin: 0 20px 20px 0;
}

.contentBody .grupoCampo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 20px;
}

.botonesIzquierdo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 10px 0;
}

.botonesDerecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 10px 0;
}

.botonesCentrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.botonVolver {
  background-color: var(--dark);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
  margin: 0 5px 0px;
  cursor: pointer;
}

.botonVolver:hover {
  background-color: var(--gray);
  color: var(--black);
}

.botonNuevo {
  background-color: var(--primary);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
  margin: 0 5px 0px;
  cursor: pointer;
}

.botonNuevo:hover {
  background-color: var(--cyan);
}

.botonBorrar {
  background-color: var(--danger);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
  margin: 0 5px 0px;
  cursor: pointer;
}

.botonBorrar:hover {
  background-color: var(--color_fucsia);
}

.botonGuardar {
  background-color: var(--success);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
  margin: 0 5px 0px;
  cursor: pointer;
}

.botonGuardar:hover {
  background-color: var(--teal);
}

.loading {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
}

.notFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 5px;
  text-align: center;
}
/*# sourceMappingURL=Dashboard.module.css.map */