//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;700&display=swap');
@import "../_reset.scss";
@import "../_variables.scss";
@import "../_maps.scss";
@import "../_utils.scss";

.bodyLogin{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $pastel;
}

.tituloLogin{
    text-align: center;
    padding: 0 0 20px;
    & h1{
        font-size: fSizes(x-large);
        font-family: fFamily(roboto);
    }
}

.sectionLogin{
    background-color: $blanco;
    max-width: 360px;
    width: 100%;
    padding: 20px;
    border-radius: 1rem;
    margin: 0px auto;
    & label{
        font-family: fFamily(openSans);
        font-size: fSizes(medium);
    }
    & input{
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid #ced4da;
        padding: 0.8rem;
        margin: 0px 0 1rem;
    }
    & .bt{ text-align: center;}
    & button{
        background-color: $azul;
        color: $blanco;
        text-align: center;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        margin: 10px auto 0 ;
        transition: all .3s linear;
        cursor: pointer;
        font-size: fSizes(medium);
        font-family: fFamily(roboto);
        border-radius: 0.5rem;
        &:hover{
            background-color: $azul-pastel;
        }
    }
}
